<div class="my-5">
    <h4 class="text-center mb-3">댓글</h4>
    <div id="div_insert" style="display: none;;">
        <textarea id="txt_body" class="form-control" rows="3"></textarea>
        <div class="text-end mt-2">
            <button id="btn-insert" class="btn btn-primary btn-sm px-5">등록</button>
        </div>
    </div>
    <div id="div_login">
        <button id="btn-login" class="btn btn-secondary w-100">로그인</button>
    </div>
    <div class="col mt-2 mb-3">
        댓글 수 : <span id="total"></span>개
    </div>
    <div id="div_comments"></div>
    <div id="pagination" class="pagination justify-content-center mt-5"></div>
</div>

<script id="temp_comments" type="x-handlebars-template">
    {{#each .}}
        <div>
            <div>
                <small><b>{{email}}</b></small> | 
                <small>{{date}}</small>
            </div>
            <div class="view_{{id}}">
                <div class="ellipsis body">{{body}}</div>
                <div class="text-end mt-2" style="{{fn_display email}}">
                    <button class="btn-update btn btn-success btn-sm" cid={{id}}>수정</button>
                    <button class="btn-delete btn btn-danger btn-sm" cid={{id}}>삭제</button>
                </div>
            </div>
            <div class="edit_{{id}}" style="display: none;">
                <div>
                    <textarea class="body form-control" rows=5>{{body}}</textarea>
                </div>
                <div class="text-end mt-2">
                    <button class="btn-save btn btn-primary btn-sm" cid={{id}}>저장</button>
                    <button class="btn-cancle btn btn-secondary btn-sm" cid={{id}}>취소</button>
                </div>
            </div>
        </div>
        <hr>
    {{/each}}
</script>

<script>
    Handlebars.registerHelper("fn_display", function(email) {
        if(sessionStorage.getItem("email") != email) {
            return "display: none;";
        }
    });
</script>

<script type="module">
    import { app } from "/javascripts/firebaseInit.js";
    import { getFirestore, collection, addDoc, setDoc, deleteDoc } from "https://www.gstatic.com/firebasejs/10.4.0/firebase-firestore.js";
    import { query, orderBy, getDocs, getDoc, where, doc } from "https://www.gstatic.com/firebasejs/10.4.0/firebase-firestore.js";
    const db = getFirestore(app);

    let total = 0;
    const size = 3;
    let page = 1;

    const pid = "<%=id%>";
    if(sessionStorage.getItem("email")) {
        $("#div_insert, #div_login").toggle();
    }

    // 댓글내용 더보기
    $("#div_comments").on("click", ".body", function() {
        $(this).toggleClass("ellipsis");
    });

    // 저장
    $("#div_comments").on("click", ".btn-save", async function() {
        const id = $(this).attr("cid");
        const edit = $(this).parent().parent();
        const body = edit.find(".body").val();
        if(confirm("댓글을 수정하시겠습니까?")) {
            const comment = await getDoc(doc(db, `comments/${id}`));
            // console.log(comment.data());
            await setDoc(doc(db, `comments/${id}`), {
                ...comment.data(),
                body
            });
            alert("수정완료");
            getComments();
        }
    });

    // 취소
    $("#div_comments").on("click", ".btn-cancle", function() {
        const id = $(this).attr("cid");
        $("#div_comments .edit_"+id).hide();
        $("#div_comments .view_"+id).show();
    });

    // 수정
    $("#div_comments").on("click", ".btn-update", function() {
        const id = $(this).attr("cid");
        $("#div_comments .edit_"+id).show();
        $("#div_comments .view_"+id).hide();
    });

    // 삭제버튼 클릭
    $("#div_comments").on("click", ".btn-delete", async function() {
        const id = $(this).attr("cid");
        await deleteDoc(doc(db, `comments/${id}`));
        alert("댓글을 삭제했습니다.");
        getComments();
    });

    $("#btn-login").on("click", function() {
        sessionStorage.setItem("target", `/posts/read?id=${pid}`);
        location.href = "/users/login";
    });

    $("#btn-insert").on("click", async function() {
        const body = $("#txt_body").val();
        const email = sessionStorage.getItem("email");
        const date = moment(new Date()).format("YYYY-MM-DD HH:mm:ss");

        if (body == "") {
            alert("댓글 내용을 입력하세요.");
            $("#txt_body").focus();
        } else {
            const data = {pid, email, date, body};
            await addDoc(collection(db, 'comments'), data);
            $("#txt_body").val("");
            alert("댓글이 등록되었습니다.");
            getComments();
        }
    });

    getComments();
    async function getComments() {
        const q = query(collection(db, 'comments'), where("pid", "==", pid) ,orderBy('date', "desc"));
        const snapshot = await getDocs(q);

        if(total != snapshot.docs.length) {
            total = snapshot.docs.length;
            const totalPages = Math.ceil(total/size);
            $("#pagination").twbsPagination("changeTotalPages", totalPages, 1);
        }

        $("#total").html(total);
        let rows = [];
        snapshot.docs.forEach((row, index) => {
            const start = (page-1) * size;
            const end = (page*size) - 1;
            if(index >= start && index <= end) {
                rows.push({id: row.id, ...row.data()});
            }
        });
        // console.log(rows);
        const temp = Handlebars.compile($("#temp_comments").html());
        $("#div_comments").html(temp(rows));
    }

    $('#pagination').twbsPagination({
        totalPages:10, //총 페이지 번호 수
        visiblePages: 5, // 하단에서 한 번에 보여 지는 페이지 번호 수
        startPage : 1, // 시작 시 표시되는 현재 페이지
        initiateStartPageClick: false, // 플러그인이 시작 시 페이지 버튼 클릭 여부 (default : true) 
        first : '<<', // 페이지네이션 버튼 중 처음으로 돌아가는 버튼에 쓰여 있는 텍스트
        prev : '<', // 이전 페이지 버튼에 쓰여 있는 텍스트
        next : '>', // 다음 페이지 버튼에 쓰여 있는 텍스트
        last : '>>', // 페이지네이션 버튼 중 마지막으로 가는 버튼에 쓰여 있는 텍스트
        onPageClick: function (event, clickPage) {
            page=clickPage;
            getComments(); 
        }
    });
</script>